<header class="w-100 flex space-between p-10 bg-[#333]">
    <h2 class="text-3xl font-bold text-white ">Welcome user </h2>
      <div>
          <a href="/articles" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">all articles</a>
          <a href="/articles/new" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">new article</a>
          <a href="/users/login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">login</a>
      </div>
</header>
Footer
