<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a new event</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body>
   <%-include('./partials/header.ejs')%>
    <main>
      <section class="article-form-container">
        <div class="form-container">
          <form action="/article" method="POST">
            <input
              type="text"
              name="title"
              placeholder="Enter event  title here "
            />
            <textarea
              name="description"
              cols="30"
              rows="5"
              placeholder="description here .."
            ></textarea>
            <input
            type="text"
            name="author"
            placeholder="name of the author"
          />
            <div class="center">
              <input type="submit" value="submit" class="btn" id="submit-btn" />
            </div>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>