<%- include('./partials/fontAwesome.ejs')%> <%
include('./partials/header.ejs')%>

<!-- this will contains all the  articles  -->
<main>
  <section class="allarticles w-100 h-screen">
    <div
      class="article-container"
      class="h-100 w-100 flex justify-between flex-wrap"
    >
      <%articles.forEach(cv=>{ %>
      <article
        class="grow-0 shrink basis-1/3 py-10 px-10 bg-black text-white mx-10 my-10"
      >
        <p class="text-4xl"><%= cv.title%></p>
        <p class="text-2xl my-10"><%= cv.description%></p>
        <div>
          <a
            href="/articles/<%=cv.slug%>"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >readmore</a
          >
        </div>
      </article>
      <% })%>
    </div>
  </section>
</main>