<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body>
    <header class="w-100 flex space-between p-10">
      <div>
        <a
          href="/users/register"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Register
        </a>
        <a
        href="/users/login"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Login
      </a>
      </div>
    </header>
    <section class="h-screen w-100 flex items-center justify-center">
      <h1 class="text-6xl font-bold">welcome to our website add some functionality make website dynamic</h1>
    </section>
  </body>
</html>
