<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authenticate user credential</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body>
    <main>
      <section
        class="registeruser-container max-h-full flex justify-center items-center h-screen"
      >
        <div class="w-full max-w-xs">
          <form
            action="/users/login"
            method="POST"
            class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
          >
          <% if(error) { %>
            <p class="text-red-400"><%= error %></p>
         <% } %>
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="email"
              >
                Email :
                
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="email"
                id="email"
                type="text"
                placeholder="Enter email here "
              />
            </div>

            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="password"
              >
                Password :
                
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="password"
                id="password"
                type="text"
                placeholder="Enter password here "
              />
            </div>
           
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >
              submit
            </button>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
