<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dahsboard welcome user </title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>
    <header class="flex items-center justify-between">
        <div><h3>user</h3></div>
        <a href="/users/logout" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">logout</a>
    </header>
    <section class="flex justify-center items-center h-screen">
        <div>
            User login sucessfully welcome to our website 
        </div>
    </section>
</body>
</html>